/* Navbar Styles */
.navbar {
  background-color: #f8f8f8;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.navbar-brand img {
  height: 50px;
}

.navbar-nav {
  list-style: none;
  display: flex;
}

.navbar-nav li {
  margin-right: 15px;
}

.navbar-nav li a {
  color: #333;
  text-decoration: none;
  font-weight: bold;
}

.navbar-nav li a:hover {
  color: #e6473f;
}

/* Container Styles */
.container {
  text-align: center;
  margin-top: 10px;
  min-height: calc(100vh - 150px);
  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: center;
}

h1 {
  margin-bottom: 20px;
}

/* Footer Styles */
.footer {
  text-align: center;
  padding: 10px;
  background-color: #f8f8f8;
  margin-top: auto;
}

/* Body Styles */
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  background-color: bisque;
}
.pagination {
  display: flex;
  justify-content: flex-start; /* Align buttons to the left */
  margin-top: 10px;
}

.pagination button {
  padding: 5px 10px;
  background-color: #f2f2f2;
  border: 1px solid #ccc;
  cursor: pointer;
  margin-right: 5px; /* Add margin between buttons */
}

.pagination button:last-child {
  margin-right: 0; /* Remove margin for the last button */
}

.pagination button:hover {
  background-color: #ddd;
}
